body {
  margin: 0;
  font-family: "karla", sans-serif;
}
main{
  padding:46px;
}
.nav{
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #F55A5A ;
  background-image: linear-gradient(to right, #672280 , #A626D3);
  color: white;
}
.nav-img{
  width: 50px;
  height: 52px;
  margin-top: 15px;
  margin-left: 20px;
}
.nav-h2{
  margin-right: auto;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 25px;
}
.nav-h4{
  font-size: 17px;
  font-weight: 500;
  margin-right: 40px;
  margin-top: 30px;
}
.form{
  display:grid;
  grid-template:40px 40px / 1fr 1fr;
  gap:45px;

}
.form-input{
  font-family: "karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}
.form-button{
  grid-column: 1/-1;
  font-family: "karla", sans-serif;
  font-size: 20px;

}