body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  background-color: #F55A5A ;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}
.nav-img{
  width: 50px;
  height: 52px;
  margin-top: 15px;
  margin-left: 10px;
}
.nav-h2{
  margin-top: 25px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: normal;
  color: azure;
}
.card{
  margin-top: 80px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;

}
.grey{
  color: #918E9B;
  font-size: 17px;
  text-align: center;
  position: relative;

  
}
.card-image{
  width: 225px;
  height: 298px;
  border-radius: 5px;
}
.location-stats{
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  

}
.loc-dest{
  font-size: 18px;
  letter-spacing: 4px;
}
.card-location{
  width: 22px;
  height:22px;
}
.des-h1{
  font-size: 42px;
  font-weight: bold;
}
.des-date{
  font-size: 20px;
  font-weight: normal;
}
.card-info{
  margin-left: 35px;
  margin-top: 20px;
}
.des-text{
  font-size: 16px;
  line-height: 1.4;
}